/*Login CSS*/
  .login{
    background-color: #ffffff;
    width: 100%;
    color: #111111;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
  }

/*Side Navigation CSS*/
  .sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  /*Side Nav Font*/ 
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
  }
  /*Side Nav Scroll*/
  .sidenav a:hover {
    color: #f1f1f1;
  }

/*Right Component*/
.right{
  position: absolute;
  right: 0px;
  width: 85%;
  height: 100%;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
}

.mailright{
  position: absolute;
  left: 30%;
  width: 60%;
  height: 100%;
  
  padding: 10px;
}

.mail {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 15%;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 20px;
}

.chat {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 15%;
  border: 1px solid rgb(163, 163, 163);
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 20px;
}

.chatright{
  position: absolute;
  left: 30%;
  width: 60%;
  height: 100%;
  
  padding: 10px;
}

.chattop{
  position: absolute;
  left: 0%;
  width: 100%;
  height: 60%;
  border: 1px solid rgb(163, 163, 163);
  padding: 10px;
}